#
# MMC subsystem configuration
#

menuconfig MMC_LT
	tristate "MMC/SD/SDIO card support"
	depends on HAS_IOMEM
	help
	  This selects MultiMediaCard, Secure Digital and Secure
	  Digital I/O support.

	  If you want MMC/SD/SDIO support, you should say Y here and
	  also to your specific host controller driver.

if MMC_LT

source "drivers/mmc-test/core/Kconfig"

source "drivers/mmc-test/host/Kconfig"

endif # MMC
